extends layout

block content
    meta(name='description', content='Te sirve un programador? Need a dev? /contact')
    div(class='content about')
        img(src='/images/me.jpg', height='150', class='text-left') 
        span(class='sp') Desarrollo software. 
        span(class='en') Software developer. 
        span(class='sp') Leo blogs de todo tipo y noticias. 
        span(class='en') Enjoy reading random blogs about random topics. 
        span(class='sp') Quiero participar en algún proyecto periodístico. 
        span(class='en') I would love to join (or build) any journalism project.
        br
        span(class='sp') ¿Te sirve un programador? 
            a(href='/contact') Con gusto</a>. 
        span(class='en') Need a developer's hand? 
            a(href='/contact') Allow me the pleasure</a>
        br
        a(href='/Resume-CH-Developer 2017.pdf') Resume</a>

        
            
    p Me gustaría ser culto sin volverme mamón.
