html
    head
        meta(property="og:title", content="cómo y porqué firmar por Marichuy")
        meta(property="og:description", content ="breve guía para firmar por marichuy")
        meta(property="og:image", content="http://www.chamizo.pro/images/marichuy.jpg")
        title= "Cómo y porqué firmar por Marichuy"
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='https://code.jquery.com/jquery-3.1.1.min.js')
        link(rel='image_src', href='/images/me.jpg')
    body
        div(class='content', style="margin-top:0 !important")
            h1 Marichuy 2018
            center
                img(src='/images/marichuy.jpg', alt="marichuy patricio, candidata")
            h2 ¿qué es firmar por un candidato independiente?
            div(style= 'margin-left:4em') firmar es otorgar <i><b>únicamente tu permiso</b></i> para que una persona pueda ser candidato.
                    li firmar 
                        span(class="en") no es votar
                    li sólo puedes firmar por un candidato en cada categoría (presidencia, municipal, senado, congreso)
                    div(style = 'margin-left:2em')
                        span <b>nota:</b> si firmas por más de un candidato tu firma sólo contará para el primero que la capture al INE.
            h2 junto firmas por marichuy porque
            div(style = 'margin-left:4em')
                li quiero que sea candidata a la presidecia para 2018
                li que intervenga los debates presidenciales y hable de lo que nunca se ha hablado con seriedad
                li es <b>vocera</b> de muchos pequeños grupos dispersos en muchas zonas invisibilizadas del país
                li puede iniciar la gran conversación que en méxico no hemos tenido
            h2 ¿cómo firmar?
            div <b>a)</b> puedes revisar la lista de eventos por ciudad 
                a(href="https://llegolahoradelflorecimientodelospueblos.org.mx/inicio/eventos/") <b>aquí</b>
                br
                <b>b)</b> preguntar en <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=QUIERO FIRMAR POR MARICHUY, DÍGANME CON QUIÉN, RT">tuiter</a> o en 
                a(href="https://www.facebook.com/sharer/sharer.php?u=https://llegolahoradelflorecimientodelospueblos.org.mx&quote=QUIERO%20FIRMAR%20POR%20MARICHUY,%20DÍGANME%20CON%20QUIÉN&redirect_uri=https://facebook.com", target="_blank") facebook
                br
                <b>c)</b> conviértete en asistente, firma tú mismo y ayuda recolectando firmas: 
                br
                div(style = 'margin-left:4em')
                    li regístrate como auxiliar 
                        a(href="https://llegolahoradelflorecimientodelospueblos.org.mx/auxiliares/registroac.php") aquí
                    li 
                        instala la app del INE 
                        &#32;para 
                        a(href="https://play.google.com/store/apps/details?id=mx.ine.apoyociudadano&rdid=mx.ine.apoyociudadano&pli=1") &#32; android
                        &#32;o, para &#32;
                        a(href="https://itunes.apple.com/mx/app/apoyo-ciudadano-ine/id1238790658?mt=8") iPhone.
                    li una vez que te envíen un correo del INE con tus datos como el siguiente, comienza a capturar firmas.
                        img(src="/images/correo_ine.png")
            br
            h2 y eso es todo 
            div(style = 'margin-left:4em') firma, apoya o comparte :-) 
            div(class="addthis_inline_share_toolbox", style = 'text-align: center !important')
            script(type="text/javascript", src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a5e4427b5ca71a5")
            br
            br
            br
            div(class="footer")        
                span(style="font-size:smaller") comentarios, sugerencias y lo que sea respecto a la info de esta página <a href="/contact">aquí</a>
