html
	head
		link(href='/stylesheets/caracol.css', rel='stylesheet')
	body
		div(id="board", class="container")
			div(data-i='0', data-j='0', class="box spacing")
			div(data-i='0', data-j='1', class="box spacing")
			div(data-i='0', data-j='2', class="box spacing")
			div(data-i='0', data-j='3', class="box")
			div(data-i='1', data-j='0', class="box spacing")
			div(data-i='1', data-j='1', class="box spacing")
			div(data-i='1', data-j='2', class="box spacing")
			div(data-i='1', data-j='3', class="box")
			div(data-i='2', data-j='0', class="box spacing")
			div(data-i='2', data-j='1', class="box spacing")
			div(data-i='2', data-j='2', class="box spacing")
			div(data-i='2', data-j='3', class="box")
			div(data-i='3', data-j='0', class="box spacing")
			div(data-i='3', data-j='1', class="box spacing")
			div(data-i='3', data-j='2', class="box spacing")
			div(data-i='3', data-j='3', class="box")
		script(src='/js/caracol.js')
