extends layout

block content
	div(class='content about')
		center
			img(src="/images/hola.gif", height='120px')
			div(style="float:left; margin-top:20px;text-Align:left")
				a(href="https://m.me/celerno") mensaje en facebook
				br
				a(href="https://twitter.com/sonrisapunk", class="twitter-follow-button") en tuiter</a> 
				script(async, src="//platform.twitter.com/widgets.js", charset="utf-8")
				br
				a(target='_top', href="mailto:celerno@gmail.com") correo a celerno@gmail.com
				br
				script(src='//platform.linkedin.com/in.js')
				script(type="IN/MemberProfile", data-id="https://www.linkedin.com/in/celerno", data-format="click", data-text="en linkedin")
				br
				a(href="http://stackoverflow.com/story/celerno") whoooo StackOverflow!!!!!11!!
