extends layout

block content
	div(class='content')
		h1 
		center 
			img(id='render' height='100' width='400')
			br
			span(class="sp") este
			span(class="en") this
			span(class="sp") sitio
			span(class="en") site
			span(class="sp") siempre está
			span(class="en") is always
			span(class="sp") en
			span(class="en") under
			span(class="sp") proceso
			span(class="en") development
			script(src="/js/index.js")